@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #000000;
  --primary: #695848;
  --secondary: #FFFFFF;
  --action: #E0B554;
  --success: #5E845A;
  --error: #D9827A;
  --font-family-sans: 'Kanit', sans-serif;
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: var(--font-family-sans);
  height: -webkit-fill-available;
}


img {
  display: inline-block;
}


.flip-y {
  transform: rotateY(360deg);
  transition-duration: 500ms;
}